{{- define "unannotated" -}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
        <meta charset = "UTF-8">
    </head>
    <body>
        <h1>{{ .Title }}</h1>
        <h5>Written by {{ .Author }}, {{ .Length }} characters in length, {{ annotationType }}</h5>
        <hr>
        <p>{{ replaceBreaks .Text }}</p>
    </body>	
</html>
{{- end -}}